In [2]:
import pandas as pd

In [10]:
df = pd.read_csv("trainLabels_cropped.csv", index_col="No")
#df = pd.read_csv("train.csv")
df.head()

    No0     image  level
No
0     0   10_left      0
1     1  10_right      0
2     2   13_left      0
3     3  13_right      0
4     4   15_left      1

In [12]:
levels = df.groupby("level")
levels.count()

         No0  image
level
0      25802  25802
1       2438   2438
2       5288   5288
3        872    872
4        708    708

In [21]:
import os
import pandas as pd
import shutil

In [22]:

# Path to your CSV file and the folder containing all images
csv_path = '/Users/jeff/code/dataset/dr/trainLabels_cropped.csv'
images_folder = '/Users/jeff/code/dataset/dr/resized_trained_processed'  # folder where all images are initially located

# Read the CSV file
df = pd.read_csv(csv_path)
df.head()

   No  No0     image  level
0   0    0   10_left      0
1   1    1  10_right      0
2   2    2   13_left      0
3   3    3  13_right      0
4   4    4   15_left      1

In [23]:

# Loop through each row in the CSV
for idx, row in df.iterrows():
    filename = row['image'] + '.jpeg'  # assuming the CSV column is named 'image'
    class_label = str(row['level'])  # assuming the column with class info is 'level'
    
    # Define source file path (adjust extension if needed)
    src = os.path.join(images_folder, filename)
    
    # Create a new directory for the class if it doesn't exist
    dest_dir = os.path.join(images_folder, class_label)
    os.makedirs(dest_dir, exist_ok=True)
    
    # Define destination file path
    dest = os.path.join(dest_dir, filename)
    
    # Move the file
    shutil.move(src, dest)